@model AccountDetailsViewModel

@{
    ViewData["Title"] = "Account details";
}

<section class="accountDetails">
    <div class="container">

        @if (!string.IsNullOrEmpty(Model.ConfirmMessage))
        {
            <div class="success">
                @Model.ConfirmMessage
            </div>
        }

        <div class="profileInfo">
            <div class="userInfo">
                @if (Model.ProfileInfo != null)
                {
                    <img src="~/images/@Model.ProfileInfo.ProfileImgUrl" alt="">
                    <h5>@Model.ProfileInfo.FirstName @Model.ProfileInfo.LastName</h5>
                    <p>@Model.ProfileInfo.Email</p>
                }

            </div>
            <nav>
                <a asp-controller="Account" asp-action="Details" class="btn-theme"><i class="fa-solid fa-gear"></i> Account Details</a>
                <a asp-controller="Account" asp-action="Security" class="menu-link"><i class="fa-solid fa-lock"></i>Security</a>
                <a asp-controller="Account" asp-action="SavedItems" class="menu-link"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
                <a asp-controller="Auth" asp-action="SignOut" class="menu-link"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out</a>
            </nav>
        </div>

        <div class="accountDetailsForms">
            <div class="basicInfo">
                <h1>Account details</h1>
                <h5>Basic info</h5>
                <form id="basicInfoForm" method="post" asp-controller="Account" asp-action="Details" novalidate>

                    <div id="firstName" class="accountFormBox">
                        <label asp-for="@Model.BasicInfo.FirstName"></label>
                        <input asp-for="@Model.BasicInfo.FirstName" />
                        <span asp-validation-for="@Model.BasicInfo.FirstName"></span>
                    </div>

                    <div id="lastName" class="accountFormBox">
                        <label asp-for="@Model.BasicInfo.LastName"></label>
                        <input asp-for="@Model.BasicInfo.LastName" />
                        <span asp-validation-for="@Model.BasicInfo.LastName"></span>
                    </div>

                    <div id="emailAddress" class="accountFormBox">
                        <label asp-for="@Model.BasicInfo.Email"></label>
                        <input asp-for="@Model.BasicInfo.Email" />
                        <span asp-validation-for="@Model.BasicInfo.Email"></span>
                    </div>

                    <div id="phoneNumber" class="accountFormBox">
                        <label asp-for="@Model.BasicInfo.Phone"></label>
                        <input asp-for="@Model.BasicInfo.Phone" />
                        <span asp-validation-for="@Model.BasicInfo.Phone"></span>
                    </div>

                    <div id="bioInfo" class="accountFormBox">
                        <label asp-for="@Model.BasicInfo.Bio"></label>
                        <input asp-for="@Model.BasicInfo.Bio" />
                        <span asp-validation-for="@Model.BasicInfo.Bio"></span>
                    </div>

                    <div class="form-btn">
                        <button class="btn-gray" type="reset">Cancel</button>
                        <button class="btn-theme" type="submit">Save changes</button>
                    </div>
                </form>
            </div>

            <div class="addressInfo">
                <div class="addressInfo">
                    <h5>Address</h5>
                    <form id="addressInfoForm" method="post" asp-controller="Account" asp-action="Details" novalidate>

                        <div id="addressline1" class="accountFormBox">
                            <label asp-for="@Model.AddressInfo.AddressLine1"></label>
                            <input asp-for="@Model.AddressInfo.AddressLine1" />
                            <span asp-validation-for="@Model.AddressInfo.AddressLine1"></span>
                        </div>

                        <div id="addressline2" class="accountFormBox">
                            <label asp-for="@Model.AddressInfo.AddressLine2"></label>
                            <input asp-for="@Model.AddressInfo.AddressLine2" />
                            <span asp-validation-for="@Model.AddressInfo.AddressLine2"></span>
                        </div>

                        <div id="postalCode" class="accountFormBox">
                            <label asp-for="@Model.AddressInfo.PostalCode"></label>
                            <input asp-for="@Model.AddressInfo.PostalCode" />
                            <span asp-validation-for="@Model.AddressInfo.PostalCode"></span>
                        </div>

                        <div id="city" class="accountFormBox">
                            <label asp-for="@Model.AddressInfo.City"></label>
                            <input asp-for="@Model.AddressInfo.City" />
                            <span asp-validation-for="@Model.AddressInfo.City"></span>
                        </div>

                        <div class="form-btn">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>