@model HomeWorkToolsViewModel

<section class="workTools">
    <div class="container">

        <div class="section-title">
            <h1>@Model.Title</h1>
            <p>@Model.TitleText</p>
        </div>

        @if (Model.HomeWorkBox != null)
        {
            foreach (var box in Model.HomeWorkBox)
            {
                <div id="icon-box" class="@box.BoxClassName">
                    <img src="@box.BoxImage.ImageUrl" alt="@box.BoxImage.AltText">
                    <p>@box.BoxText</p>
                </div>
            }
        }
    </div>
</section>