@model HomeDownloadAppViewModel

<section class="downloadApp">
    <div class="container">
        <img class="downloadApp-image" src="@Model.DownloadAppImage.ImageUrl" alt="@Model.DownloadAppImage.AltText">
        <div class="downloadApp-content">
            <h1>@Model.Title</h1>

            <div class="appstore-content">
                <div class="appstore-text">
                    <p>@Model.AppSource.SourceTitle</p>
                    <img class="rating" src="@Model.AppSource.SourceImage.ImageUrl" alt="@Model.AppSource.SourceImage.AltText">
                    <h4>@Model.AppSource.SourceText</h4>
                    <p>@Model.AppSource.SourceTextRating</p>
                </div>
                <a href="#"><img id="appstore-lightmode" src="/images/appstore.svg" alt=""></a>
                <a href="#"><img id="appstore-darkmode" src="/images/appstoredark-mode.svg" alt=""></a>
            </div>

            <div class="googleplay-content">
                <div class="googleplay-text">
                    <p>@Model.GoogleSource.SourceTitle</p>
                    <img class="rating" src="@Model.GoogleSource.SourceImage.ImageUrl" alt="@Model.GoogleSource.SourceImage.AltText">
                    <h4>@Model.GoogleSource.SourceText</h4>
                    <p>@Model.GoogleSource.SourceTextRating</p>
                </div>
                <a href="#"><img id="googleplay-lightmode" src="/images/googleplay.svg" alt=""></a>
                <a href="#"><img id="googleplay-darkmode" src="/images/googleplaydark-mode.svg" alt=""></a>
            </div>

        </div>
    </div>
</section>