@model HomeManageWorkViewModel

<section class="managework">
    <div class="container">
        <img src="@Model.ManageImage.ImageUrl" alt="@Model.ManageImage.AltText">
        <div class="managework-content">
            <h2>@Model.Title</h2>
            <ul>
                @if (Model.ManageWorkList != null)
                {
                    foreach (var item in Model.ManageWorkList)
                    {
                        <li><i class="@item.Icon"></i>@item.Text</li>
                    }
                }
            </ul>
            <button class="btn-theme">Learn more</button>
        </div>
    </div>
</section>