@model HomeSubscriptionViewModel

<section class="subscribe">
    <div class="container">
        <div class="section-title">
            <h1>@Model.MainTitle</h1>
            <img src="@Model.SubscriptionImage.ImageUrl" alt="@Model.SubscriptionImage.AltText">
        </div>
        <div class="signup-content">
            <h5>@Model.InnerTitle</h5>
            <div class="checkbox-content">
                
                @if (Model.SubscriptionBox != null)
                {
                    foreach (var subscriptionBox in Model.SubscriptionBox)
                    {
                        <div id="ch-b" class="@subscriptionBox.BoxClassName">
                            <input type="@subscriptionBox.InputType" name="@subscriptionBox.InputName">
                            <label for="@subscriptionBox.LabelFor">@subscriptionBox.LabelText</label>
                        </div>
                    }
                }             
            </div>
        </div>
        <div class="signup-email">
            <div class="signup-top">
                <i class=" fa-regular fa-envelope"></i>
                <input placeholder="Your Email" />
                <button class="btn-theme">Subscribe</button>
            </div>          
            <label>*Yes, I agree to the <a asp-controller="About" asp-action="Index">Terms </a> and <a asp-controller="About" asp-action="Index"> privacy policy</a></label>
        </div>
        
    </div>
</section>