@model HomeBenefitsViewModel

<section class="benefits">
    <div class="container">

        <div class="section-title">
            <h2>@Model.Title</h2>
            <p>@Model.Text</p>
        </div>

        <div class="benefits-f-2">
            
            <div id="@Model.BenefitBox1.IdName" class="@Model.BenefitBox1.ClassName">
                <a asp-controller="@Model.BenefitBox1.Link.ControllerName" asp-action="@Model.BenefitBox1.Link.ActionName">
                    <img src="@Model.BenefitBox1.BenefitImage.ImageUrl" alt="@Model.BenefitBox1.BenefitImage.AltText">
                    <h6>@Model.BenefitBox1.Title</h6>
                    <p>@Model.BenefitBox1.Text</p>
                </a>
            </div>

            <div id="@Model.BenefitBox2.IdName" class="@Model.BenefitBox2.ClassName">
                <a asp-controller="@Model.BenefitBox2.Link.ControllerName" asp-action="@Model.BenefitBox2.Link.ActionName">
                    <img src="@Model.BenefitBox2.BenefitImage.ImageUrl" alt="@Model.BenefitBox2.BenefitImage.AltText">
                    <h6>@Model.BenefitBox2.Title</h6>
                    <p>@Model.BenefitBox2.Text</p>
                </a>
            </div>
        </div>

        <div class="benefits-s-2">
            <div id="@Model.BenefitBox3.IdName" class="@Model.BenefitBox3.ClassName">
                <a asp-controller="@Model.BenefitBox3.Link.ControllerName" asp-action="@Model.BenefitBox3.Link.ActionName">
                    <img src="@Model.BenefitBox3.BenefitImage.ImageUrl" alt="@Model.BenefitBox3.BenefitImage.AltText">
                    <h6>@Model.BenefitBox3.Title</h6>
                    <p>@Model.BenefitBox3.Text</p>
                </a>
            </div>
            <div id="@Model.BenefitBox4.IdName" class="@Model.BenefitBox4.ClassName">
                <a asp-controller="@Model.BenefitBox4.Link.ControllerName" asp-action="@Model.BenefitBox4.Link.ActionName">
                    <img src="@Model.BenefitBox4.BenefitImage.ImageUrl" alt="@Model.BenefitBox4.BenefitImage.AltText">
                    <h6>@Model.BenefitBox4.Title</h6>
                    <p>@Model.BenefitBox4.Text</p>
                </a>
            </div>
        </div>

        <div class="benefits-t-2">
            <div id="@Model.BenefitBox5.IdName" class="@Model.BenefitBox5.ClassName">
                <a asp-controller="@Model.BenefitBox5.Link.ControllerName" asp-action="@Model.BenefitBox5.Link.ActionName">
                    <img src="@Model.BenefitBox5.BenefitImage.ImageUrl" alt="@Model.BenefitBox5.BenefitImage.AltText">
                    <h6>@Model.BenefitBox5.Title</h6>
                    <p>@Model.BenefitBox5.Text</p>
                </a>
            </div>
            <div id="@Model.BenefitBox6.IdName" class="@Model.BenefitBox6.ClassName">
                <a asp-controller="@Model.BenefitBox6.Link.ControllerName" asp-action="@Model.BenefitBox6.Link.ActionName">
                    <img src="@Model.BenefitBox6.BenefitImage.ImageUrl" alt="@Model.BenefitBox6.BenefitImage.AltText">
                    <h6>@Model.BenefitBox6.Title</h6>
                    <p>@Model.BenefitBox6.Text</p>
                </a>
            </div>
        </div>
    </div>
</section>