@model IEnumerable<CourseEntity>

@{
    ViewData["Title"] = "Courses";
}

<section class="courses-showcase">
    <div class="container">
        <div class="courses-showcase-top">
            <div class="top-text">
                <ul class="breadcrumb">
                    <li><i class="fa-solid fa-house"></i><a href="index.html">Home</a></li>
                    <li class="active"><i class="fa-solid fa-angles-right"></i>Courses</li>
                </ul>
                <h1>Courses</h1>
            </div>

            <div class="courses-showcase-search">
                <button class="dropbtn" onclick="toggleDropdown()">All categories <i class="fa-solid fa-chevron-down"></i></button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">Category 1</a>
                    <a href="#">Category 2</a>
                    <a href="#">Category 3</a>
                </div>

                    <form class="searchbar-content" asp-controller="Courses" asp-action="Search" method="get">
                        <div class="searchbar-wrapper">
                            <input type="text" name="searchString" placeholder="Search course title">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>

            </div>
        </div>
        <div class="courses-showcase-content">
            
            @foreach(var course in Model)
            {
                    <div class="courses-box">
                        @if (course.IsBestSeller)
                        {
                            <div class="courses-box-top">
                                <p>Best seller</p>
                                <div class="box-top-img">
                                    <img src="Images/courses-img-icon.svg" alt="">
                                </div>
                            </div>
                        }

                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                            <img src="~/images/@course.ImgUrl" alt="">
                        </a>
                        <div class="courses-text">
                            <h5>@course.Title</h5>
                            <p>@course.Author</p>
                        </div>

                        @if (course.DiscountPrice != null)
                        {
                            <div class="prices">
                                <p><s>@course.Price</s></p>
                                <p>@course.DiscountPrice</p>
                            </div>
                        }
                        else
                        {
                            <div class="prices">
                                <p>@course.Price</p>
                            </div>
                        }

                        <div class="hour-rating">
                            <p><i class="fa-regular fa-clock"></i>@course.Hours</p>
                            <p><i class="fa-regular fa-thumbs-up"></i>@course.LikesInProcent% (@course.LikesInNumber k)</p>
                        </div>
                    </div>
            }

        </div>
    </div>
    <section class="readyTo-section">
        <div class="container">
            <div class="readyTo-content">
                <p>Ready to get started?</p>
                <h1>Take Your Skills to the Next Level</h1>
                <button class="btn-theme">Work with us</button>
            </div>
            <img src="~/images/readyTo-illustration.svg" alt="">
        </div>
    </section>
</section>